<div class="tutorials__sidebar">
    <!-- TODO fetch -->
    <docs-card
        title="Sections">
        <a *ngFor="let section of sections"
            class="docs-link active" 
            docs-list-item
            routerLink="#"
        >{{ section.title }}</a>
    </docs-card>
</div>
<div class="tutorials__main">
    <!-- TODO fetch -->
    <docs-card *ngFor="let section of sections"
        [title]="section.title"
        [flex]="true">
        <a *ngFor="let article of section.articles" 
            class="docs-link"
            [routerLink]="'/articles/' + article._id">
            <span class="icon pi pi-check-circle"></span>
            {{ article.title }}
        </a>
    </docs-card>
</div>