<div class="tutorials__sidebar">
    <!-- TODO fetch -->
    <docs-card
        title="Sections">
        <a class="docs-link active" docs-list-item>Getting Started With JavaScript</a>
        <a class="docs-link" docs-list-item>
            Flow Control
        </a>
        <a class="docs-link" docs-list-item>
            JavaScript Functions
        </a>
        <a class="docs-link" docs-list-item>
            JavaScript Objects
        </a>
        <a class="docs-link" docs-list-item>
            JavaScript Types
        </a>
        <a class="docs-link" docs-list-item>
            Exceptions and Modules
        </a>
        <a class="docs-link" docs-list-item>
            JavaScript ES6
        </a>
        <a class="docs-link" docs-list-item>
            JavaScript Asynchronous
        </a>
        <a class="docs-link" docs-list-item>
            JavaScript Miscellaneous
        </a>
    </docs-card>
</div>
<div class="tutorials__main">
    <!-- TODO fetch -->
    <docs-card
        title="JavaScript Introduction"
        [flex]="true">
        <a class="docs-link">
            <span class="icon pi pi-check-circle"></span>
            Getting Started With JavaScript
        </a>
        <a class="docs-link">
            <span class="icon pi pi-check-circle"></span>
            JS Variables and Constants
        </a>
        <a class="docs-link">
            <span class="icon pi pi-check-circle"></span>
            JS console.log()
        </a>
        <a class="docs-link">
            <span class="icon pi pi-check-circle"></span>
            JavaScript Data Types
        </a>
        <a class="docs-link">
            <span class="icon pi pi-check-circle"></span>
            JavaScript Operators
        </a>
        <a class="docs-link">
            <span class="icon pi pi-check-circle"></span>
            JavaScript Comments
        </a>
        <a class="docs-link">
            <span class="icon pi pi-check-circle"></span>
            JavaScript Type Conversions
        </a>
    </docs-card>
</div>