<div class="tutorials__sidebar" *ngIf="!loading && sections.length">
    <docs-card *ngIf="loading"
        title="Sections"
        [flex]="true">
        <p-skeleton *ngFor="let i of [1, 2, 3, 4, 5]"></p-skeleton>
    </docs-card>
    <docs-card
        *ngIf="!loading"
        [title]="'Sections (' + sections.length + ')'">
        <a *ngFor="let section of sections; index as i"
            class="docs-link" 
            docs-list-item
            (click)="navigateToFragment('section-' + i)"
        >{{ section.title }}</a>
    </docs-card>
</div>

<div class="tutorials__main">
    <docs-card *ngIf="loading"
        title="Loading..."
        [flex]="true">
        <p-skeleton *ngFor="let i of [1, 2, 3]"></p-skeleton>
    </docs-card>
    <docs-card *ngIf="loading"
        title="Loading..."
        [flex]="true">
        <p-skeleton *ngFor="let i of [1, 2, 3]"></p-skeleton>
    </docs-card>

    <docs-card *ngFor="let section of visibleSections; index as i"
        [title]="section.title"
        [id]="'section-' + i"
        [flex]="true">
        <a *ngFor="let article of section.articles" 
            class="docs-link"
            [routerLink]="'/articles/' + article._id">
            <span class="icon pi pi-check-circle"></span>
            {{ article.title }}
        </a>
    </docs-card>

    <p-messages [value]="messages" [enableService]="false" [closable]="false"></p-messages>
</div>