<div [style]="{ 'overflow': 'auto' }">
    <p-table #table 
        *ngIf="loading || questions?.length"
        [value]="questions|| [1, 2, 3]"
        [tableStyle]="{ 'min-width': '50rem' }"
        tableStyleClass="overflow-text"
        [globalFilterFields]="['title', 'description', 'toolkit', 'section']">
        <ng-template pTemplate="caption">
            <input #search pInputText type="text" (input)="onSearch(table, search)" placeholder="Search..." />
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="title" style="width:40%">Title <p-sortIcon field="title"></p-sortIcon></th>
                <th pSortableColumn="createdAt" style="width:20%">Time <p-sortIcon field="createdAt"></p-sortIcon></th>
                <th pSortableColumn="votes" style="width:20%">Votes <p-sortIcon field="votes"></p-sortIcon></th>
                <th pSortableColumn="views" style="width:20%">Views <p-sortIcon field="views"></p-sortIcon></th>
                <th pSortableColumn="answers" style="width:20%">Answers <p-sortIcon field="answers"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-question>
            <tr *ngIf="loading">
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
            </tr>
            <tr *ngIf="!loading">
                <td>
                    <a [routerLink]="'/questions/' + question._id" class="docs-link">
                        {{ question.title }}
                    </a>
                </td>
                <td>{{question.createdAt | dateFormat }}</td>
                <td>{{question.votes.length}}</td>
                <td>{{question.views}}</td>
                <td>{{question.answers.length}}</td>
                <td>
                    <p-button
                        (onClick)="showConfirmDialog(question._id)"
                        icon="pi pi-trash"
                        styleClass="p-button-danger"
                    ></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-messages [value]="messages" [enableService]="false" [closable]="false"></p-messages>
</div>

<p-confirmDialog 
    appendTo="body" 
    [style]="{ 'width': 'clamp(300px, 60vw, 600px)', 'margin-inline': '1em' }" 
></p-confirmDialog>
<p-toast></p-toast>
