@use "../../../utilities/mixin.scss";

:host {
    .info {
        &__btns {
            @include mixin.flex(flex-end);
            gap: 1em;
            padding: 1em 0;
        }
    }

    ::ng-deep {
        .info {
            &__table {
                tr {
                    &:first-child {
                        td {
                            border: none;
                        }
                    }
                }

                td {
                    &:first-child {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}