<docs-loading *ngIf="loading"></docs-loading>
<header class="toolkit__header" *ngIf="toolkit">
    <div class="container">
        <div class="toolkit__title">
            <h1 class="toolkit__name">{{ toolkit.name }}</h1>
            <small>(A {{ toolkit.type }}<span *ngIf="toolkit.company"> made by {{ toolkit.company }})</span></small>
        </div>
        <p class="toolkit__desc">{{ toolkit.description }}</p>
        <docs-tabmenu [items]="tabMenuItems"></docs-tabmenu>
        <form class="toolkit__search" docs-toolkit-search></form>
    </div>
</header>
<div class="toolkit__content">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>

<p-toast></p-toast>