@use "../../utilities/mixin.scss";

:host {
    @include mixin.flex(flex-start);
    overflow: auto;
    white-space: nowrap;
    border-bottom: 1px solid var(--clr-border);
    -ms-overflow-style: none;
    scrollbar-width: none;
    user-select: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .tabmenu {
        &__item {
            font-size: 1.1em;
            font-weight: 500;
            
            &:not(:last-child) {
                margin-right: 1em;
            }

            &.disabled {
                color: currentColor;
                cursor: default;
                opacity: 0.5;
                text-decoration: none;
            }
        }

        &__icon {
            margin-inline-end: .5em;
        }
    }
}