<div class="container docs-with-sidebar">
    <!-- TODO -->
    <aside>
        <p-tree [value]="nodes" [filter]="true" filterPlaceholder="Search...">
            <ng-template let-node pTemplate="url">
                <a class="docs-link" docs-list-item [routerLink]="node.data" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    {{ node.label }}
                </a>
            </ng-template>
            <ng-template let-node pTemplate="default">
                <strong>{{ node.label }}</strong>
            </ng-template>
        </p-tree>
    </aside>
    <section *ngIf="article">
        <header class="article__header">
            <h1 class="article__title">{{ article.title }}</h1>
            <p-button 
                icon="pi pi-ellipsis-v" 
                styleClass="p-button-rounded p-button-text"
                (onClick)="menu.toggle($event)"
            ></p-button>
        </header>
        <p class="article__desc">{{ article.description }}</p>

        <p-divider></p-divider>

        <!-- TODO add markdown viewer -->
        <div class="article__content">{{ article.content }}</div>

        <p-divider></p-divider>

        <div class="article__footer">
            <!-- TODO update buttons -->
            <div class="article__footer__btns">
                <p-button 
                    icon="pi pi-thumbs-up" 
                    label="Like"
                    styleClass="p-button-success"
                ></p-button>
                <p-button icon="pi pi-thumbs-down" 
                    label="Dislike"
                    styleClass="p-button-danger"
                ></p-button>
            </div>
            <div class="article__footer__info">
                <small class="article__footer__views">
                    <span class="pi pi-eye"></span>
                    10 Views
                </small>
                <p-button icon="pi pi-paperclip" 
                    styleClass="p-button-text"
                    (onClick)="copyLink()"
                    pTooltip="Copy Link" tooltipPosition="top"
                ></p-button>
            </div>
        </div>
    </section>
</div>

<p-menu #menu [model]="optionsMenu" [popup]="true"></p-menu>
<p-dialog header="Send a Feedback"
    [(visible)]="feedbackVisible" 
    position="top" 
    [modal]="true" 
    [draggable]="false"
    [style]="{ 'min-width': '50vw' }">
    <form (submit)="sendFeedback(textarea)">
        <textarea #textarea 
            rows="5"
            pInputTextarea 
            name="feedback"
            placeholder="Write your feedback..."
            [style]="{ 'width': '100%' }"
        ></textarea>
        <p-button 
            [style]="{ 'width': '100%', 'margin-top': '.5em' }"
            type="submit"
            styleClass="p-button-primary"
            label="Send"
        ></p-button>
    </form>
</p-dialog>