@use "../../utilities/mixin.scss";

:host {
    width: 100%;
    @include mixin.absolute(0, 0, 0, 0);
    position: fixed;
    @include mixin.flex;
    background-color: var(--bg-primary);
    z-index: 100;
}