<p-table 
    [value]="visibleQuestions || [1, 2, 3]" 
    tableStyleClass="overflow-text"
    [tableStyle]="{'min-width': '60rem', 'border-bottom': '1px solid var(--clr-border)'}">
    <ng-template pTemplate="caption">
        <div class="docs-flex">
            <h4>Questions ({{ visibleQuestions?.length || 0 }})</h4>
            <p-button
                *ngIf="isLoggedIn"
                label="Ask a question"
                [routerLink]="'/ask-question/' + id"
                styleClass="p-button-primaryj"
            ></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="title" style="width:40%">Title <p-sortIcon field="title"></p-sortIcon></th>
            <th pSortableColumn="createdAt" style="width:20%">Time <p-sortIcon field="createdAt"></p-sortIcon></th>
            <th pSortableColumn="votes" style="width:20%">Votes <p-sortIcon field="votes"></p-sortIcon></th>
            <th pSortableColumn="views" style="width:20%">Views <p-sortIcon field="views"></p-sortIcon></th>
            <th pSortableColumn="answers" style="width:20%">Answers <p-sortIcon field="answers"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-question>
        <tr *ngIf="loading">
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
        </tr>
        <tr *ngIf="!loading">
            <td>
                <a [routerLink]="'/questions/' + question._id" class="docs-link">
                    <h3 class="question__title">{{question.title}}</h3>
                </a>
                <small>By {{ question.user.name }}</small>
            </td>
            <td>{{question.createdAt | date: 'dd/MM/yyyy'}}</td>
            <td>{{question.votes}}</td>
            <td>{{question.views}}</td>
            <td>{{question.answers.length}}</td>
        </tr>
    </ng-template>
</p-table>

<p *ngIf="!visibleQuestions?.length && !loading">No Results</p>