@use "../../utilities/mixin.scss";

:host {
    @include mixin.flex(flex-start);
    gap: .75em;

    .logo {
        &__img {
            height: 40px;
        }

        &__bold {
            font-weight: 700;
        }
    }
}