@use './mixin.scss';

docs-root {
    .p-component {
        font-family: inherit;
    }

    p-password,
    p-password .p-password,
    p-password .p-password .p-inputtext {
        width: 100%;
    }

    .p-tree {
        .p-treenode-label {
            width: 100%;
        }

        .p-treenode-children {
            font-size: .9em;
        }
    }

    p-messages,
    .p-toast {
        .p-message,
        .p-toast-message {
            --clr-toast: #3b82f6;
            background-color: var(--bg-primary) !important;
            border-left: 4px solid var(--clr-toast) !important;
            margin-top: 0;

            &.p-toast-message-success, &.p-message-success { --clr-toast: #22c55e; }
            &.p-toast-message-warn, &.p-message-warn { --clr-toast: #f59e0b; }
            &.p-toast-message-error, &.p-message-error { --clr-toast: #ef4444; }

            .p-message-wrapper,
            .p-toast-message-content {
                padding: 1em 1.25em;
                align-items: center;
                gap: 1.5em;

                .p-icon:not(.p-toast-icon-close-icon) {
                    @include mixin.size(1.3rem);
                }

                .p-message-icon,
                .p-toast-message-icon {
                    display: flex;

                    path { fill: var(--clr-toast) }
                }

                .p-message-text,
                .p-toast-message-text {
                    margin: 0;

                    .p-message-summary,
                    .p-toast-summary {
                        color: var(--clr-toast);
                        font-size: 1.1em;
                        font-weight: 500;
                    }

                    .p-message-detail,
                    .p-toast-detail { 
                        color: var(--clr-faded);
                        font-size: .86em;
                        margin: 0;
                    }
                }

                .p-message-icon-close,
                .p-toast-icon-close { color: #000 }
            }
        }
    }

    .p-datatable-table {
        .p-datatable-thead {
            font-size: .9em;
            white-space: nowrap;
        }

        &.overflow-text {
            td {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 300px;
            }
        }
    }

    .p-dataview {
        .p-dataview-header {
            background-color: var(--bg-dataview-header);

            &--flex {
                @include mixin.flex(space-between);
                gap: 1em;
            }
        }
    }
    
    .p-breadcrumb {
        background-color: transparent;
        padding: 1em 0;

        .p-breadcrumb-list {
            @include mixin.flex(flex-start, center);
            gap: .5em;

            .p-menuitem-separator {
                .p-icon {
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }

    p-editor {
        .p-editor-container {
            .p-editor-toolbar.ql-snow {
                .ql-picker.ql-expanded {
                    .ql-picker-options {
                        .ql-picker-item.ql-primary {
                            @include mixin.size(1em);
                        }
                    }
                }
            }
        }
    }
}

.p-menu {
    z-index: 1101 !important;
    margin-top: .25em;
}
.p-component-overlay {
    z-index: 1099 !important;
}