<!-- TODO fetch and loop through sections -->
<div class="references__section">
    <!-- TODO loop through articles -->
    <h2 class="references__section__title">JavaScript Math Object</h2>
    <div class="references__article">
        <h3 class="references__article__title">
            <a class="docs-link" routerLink="#">JavaScript Math sin()</a>
        </h3>
        <small class="references__article__desc">Returns the sine of an angle</small>
    </div>
    <div class="references__article">
        <h3 class="references__article__title">
            <a class="docs-link" routerLink="#">JavaScript Math sin()</a>
        </h3>
        <small class="references__article__desc">Returns the sine of an angle</small>
    </div>
    <div class="references__article">
        <h3 class="references__article__title">
            <a class="docs-link" routerLink="#">JavaScript Math sin()</a>
        </h3>
        <small class="references__article__desc">Returns the sine of an angle</small>
    </div>
</div>
<div class="references__section">
    <h2 class="references__section__title">JavaScript Math Object</h2>
    <div class="references__article">
        <h3 class="references__article__title">
            <a class="docs-link" routerLink="#">JavaScript Math sin()</a>
        </h3>
        <small class="references__article__desc">Returns the sine of an angle</small>
    </div>
    <div class="references__article">
        <h3 class="references__article__title">
            <a class="docs-link" routerLink="#">JavaScript Math sin()</a>
        </h3>
        <small class="references__article__desc">Returns the sine of an angle</small>
    </div>
    <div class="references__article">
        <h3 class="references__article__title">
            <a class="docs-link" routerLink="#">JavaScript Math sin()</a>
        </h3>
        <small class="references__article__desc">Returns the sine of an angle</small>
    </div>
</div>