<div class="references__container" *ngFor="let i of [1, 2]">
    <div *ngIf="loading" class="references__section">
        <h2 class="references__section__title">
            <p-skeleton height="2rem"></p-skeleton>
        </h2>
        <div class="references__article" *ngFor="let j of [1, 2, 3]">
            <p-skeleton height="1rem"></p-skeleton>
            <br>
            <p-skeleton height="1rem"></p-skeleton>
        </div>
    </div>
</div>

<div class="references__container" *ngFor="let section of visibleSections">
    <div *ngIf="section.articles.length" class="references__section">
        <h2 class="references__section__title">{{ section.title }}</h2>
        <div class="references__article" *ngFor="let article of section.articles">
            <h3 class="references__article__title">
                <a class="docs-link" routerLink="#">{{ article.title }}</a>
            </h3>
            <small class="references__article__desc">{{ article.description }}</small>
        </div>
    </div>
</div>

<p-messages [value]="messages" [enableService]="false" [closable]="false"></p-messages>