<div class="container">
    <div class="ask-question__steps ask-question__card">
        <h4>Write a good question</h4>
        <ul class="ask-question__steps__list">
            <li>Summarize you problem in one-line title.</li>
            <li>Describe you problem in more details.</li>
            <li>Try to describe you tried and what you expected to happen.</li>
            <li>Review your question and post it.</li>
        </ul>
    </div>
    <form (submit)="onSubmit(editForm)" #editForm="ngForm">
        <div class="ask-question__card">
            <h4 class="ask-question__card__title">Title:</h4>
            <input type="text" 
                placeholder="Write question title here..." 
                name="title" 
                pInputText 
                [required]="true"
                minlength="10"
                maxlength="150"
                [(ngModel)]="title" />
        </div>
        <div class="ask-question__card">
            <h4 class="ask-question__card__title">Question details:</h4>
            <p-editor name="editor" [required]="true" minlength="20" [(ngModel)]="content" [style]="{ height: '320px' }">
                <ng-template pTemplate="header">
                    <docs-editor-controls></docs-editor-controls>
                </ng-template>
            </p-editor>
            <p-button
                [loading]="loading"
                label="Submit"
                type="submit"
                styleClass="p-button-success"
            ></p-button>
        </div>
    </form>
</div>

<p-toast></p-toast>