<div class="container">
    <div class="ask-question__steps ask-question__card">
        <h4>Write a good question</h4>
        <ul class="ask-question__steps__list">
            <li>Summarize you problem in one-line title.</li>
            <li>Describe you problem in more details.</li>
            <li>Try to describe you tried and what you expected to happen.</li>
            <li>Review your question and post it.</li>
        </ul>
    </div>
    <form (submit)="onSubmit()" #editForm="ngForm">
        <div class="ask-question__card">
            <h4 class="ask-question__card__title">Title:</h4>
            <input type="text" 
                placeholder="Write question title here..." 
                name="title" 
                pInputText 
                [(ngModel)]="title" />
        </div>
        <div class="ask-question__card">
            <h4 class="ask-question__card__title">Question details:</h4>
            <p-editor name="editor" [(ngModel)]="content" [style]="{ height: '320px' }">
                <ng-template pTemplate="header">
                    <span class="ql-formats">
                        <select class="ql-header">
                            <option value="1">Heading 1</option>
                            <option value="2">Heading 2</option>
                            <option value="3">Heading 3</option>
                            <option value="4">Heading 4</option>
                            <option value="5">Heading 5</option>
                            <option value="6">Heading 6</option>
                            <option selected>Normal</option>
                        </select>
                    </span>
                    <span class="ql-formats">
                        <select class="ql-font">
                            <option selected></option>
                            <option value="serif"></option>
                            <option value="monospace"></option>
                        </select>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-bold" aria-label="Bold"></button>
                        <button class="ql-italic" aria-label="Italic"></button>
                        <button class="ql-underline" aria-label="Underline"></button>
                        <button class="ql-blockquote" aria-label="Blockquote"></button>
                    </span>
                    <span class="ql-formats">
                        <select class="ql-color">
                            <option value="red"></option>
                            <option value="green"></option>
                            <option value="blue"></option>
                        </select>
                        <select class="ql-background">
                            <option value="red"></option>
                            <option value="green"></option>
                            <option value="blue"></option>
                        </select>
                    </span>
                    <span class="ql-formats">
                        <select class="ql-align">
                            <option selected></option>
                            <option value="center"></option>
                            <option value="right"></option>
                            <option value="justify"></option>
                        </select>
                        <button class="ql-list" value="bullet"></button>
                        <button class="ql-list" value="ordered"></button>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-link"></button>
                        <button class="ql-code-block"></button>
                        <button class="ql-clean"></button>
                    </span>
                </ng-template>
            </p-editor>
            <p-button
                [loading]="loading"
                label="Submit"
                type="submit"
                styleClass="p-button-success"
            ></p-button>
        </div>
    </form>
</div>

<p-toast></p-toast>