<form (submit)="login(form)" #form="ngForm">
    <div class="form-input">
        <label htmlFor="name">Username</label>
        <input
            [(ngModel)]="name"
            pInputText
            id="name" 
            name="name"
            [required]="true"
            minlength="4"
            maxlength="20"
            [style]="{ width: '100%' }"
            aria-describedby="name-help" />
        <small id="name-help"></small>
    </div>

    <div class="form-input">
        <label htmlFor="password">Password</label>
        <p-password 
            [(ngModel)]="password"
            id="password" 
            name="password" 
            aria-describedby="password-help" 
            [required]="true"
            [toggleMask]="true"
            [feedback]="false"
        ></p-password>
        <small id="password-help"></small>
    </div>
    <small>
        Don't have an account?
        <a routerLink="/s/register" class="docs-link">Create an account</a>
    </small>
    <p-button
        type="submit"
        label="Login"
        styleClass="p-button-success"
        [style]="{ width: '100%', 'margin-top': '1em' }"
        [loading]="loading"
    ></p-button>

</form>

<p-toast></p-toast>