<form (submit)="login(name.value, password.value)">
    <div class="form-input">
        <label htmlFor="name">Username</label>
        <input #name
            pInputText 
            id="name" 
            name="name"
            [required]="true"
            [style]="{ width: '100%' }"
            aria-describedby="name-help" />
        <small id="name-help"></small>
    </div>

    <div class="form-input">
        <label htmlFor="password">Password</label>
        <p-password #password
            id="password" 
            name="password" 
            aria-describedby="password-help" 
            [toggleMask]="true"
        ></p-password>
        <small id="password-help"></small>
    </div>
    <p-button
        label="Login"
        styleClass="p-button-success"
        [style]="{ width: '100%' }"
    ></p-button>
</form>
