@use "../../utilities/mixin.scss";
@use "../../utilities/mediaQuery.scss";

:host {
    display: block;
    box-shadow: var(--bs-primary);
    padding: 1em;
    
    .container {
        @include mixin.flex(space-between);
        gap: 1.5em;
    }

    .navbar {
        &__list {
            @include mixin.flex(flex-start);
            gap: 1em;
            flex: 1;

            @include mediaQuery.Tablets {
                display: none;
            }
        }
    }

    ::ng-deep {
        .navbar {
            &__menu-btn {
                display: none;

                @include mediaQuery.Tablets {
                    display: block;
                }
            }
        }

        .dialog {
            &__content {
                @include mixin.flex(stretch, stretch);
            }

            &__left {
                width: 175px;
            }

            &__center,
            &__right {
                padding: 0 1em;
                flex: 1;

                .title {
                    margin-bottom: .75em;
                    font-size: 1.4em;
                }

                .docs-link {
                    margin-bottom: .5em;
                    display: block;
                }
            }

            &__center {
                $border: 1px solid var(--clr-border);
                border-right: $border;
                border-left: $border;
            }
        }
    }
}