@use "../../utilities/mixin.scss";
@use "../../utilities/mediaQuery.scss";

:host {
    $border: 1px solid var(--clr-border);
    display: block;
    box-shadow: var(--bs-primary);
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 1100;
    background-color: var(--bg-primary);
    
    .container {
        @include mixin.flex(space-between);
    }

    .navbar {
        &__list {
            @include mixin.flex(flex-start);
            gap: 1em;
            flex: 1;

            @include mediaQuery.Tablets {
                display: none;
            }
        }
    }

    ::ng-deep {
        .navbar {
            &__menu-btn {
                display: none;

                @include mediaQuery.Tablets {
                    display: block;
                }
            }

            &__divider {
                @include mediaQuery.Tablets {
                    display: none;
                }
            }
        }

        .dialog {
            &__content {
                @include mixin.flex(stretch, stretch);
            }

            &__left {
                width: 175px;
            }

            &__center,
            &__right {
                padding: .5em 1.5em;
                flex: 1;

                .title {
                    margin-bottom: 1.25em;
                    font-size: 1.4em;
                }

                .docs-link {
                    margin-bottom: 1em;
                    display: block;
                }
            }

            &__center {
                border-right: $border;
                border-left: $border;
            }
        }

        @include mediaQuery.Tablets {
            .dialog {
                &__content {
                    flex-direction: column;
                    text-align: center;
                }

                &__left {
                    width: auto;
                }

                &__center {
                    border: none;
                    border-top: $border;
                    border-bottom: $border;
                }

                &__center,
                &__right {
                    padding: 1em 0;
                }
            }
            .docs-link  { text-align: center !important }
        }
    }
}