<div class="container">
    <p-button
        icon="pi pi-bars"
        styleClass="p-button-text"
        class="navbar__menu-btn"
        (onClick)="sidebarVisible = true"
    ></p-button>
    <a class="docs-logo" routerLink="/"></a>
    <p-divider class="navbar__divider" layout="vertical"></p-divider>

    <ul class="docs-list navbar__list" *ngIf="toolkitsList">
        <li (click)="showDialog('lang')" *ngIf="toolkitsList.lang.value.length" class="docs-list__item">Languages</li>
        <li (click)="showDialog('lib')" *ngIf="toolkitsList.lib.value.length" class="docs-list__item">Libraries</li>
        <li (click)="showDialog('frame')" *ngIf="toolkitsList.frame.value.length" class="docs-list__item">Frameworks</li>
    </ul>

    <div *ngIf="isLoggedIn">
        <p-menu #menu [model]="userMenuItems" [popup]="true" appendTo="body"></p-menu>
        <p-button type="butto" 
            (onClick)="menu.toggle($event)" 
            icon="pi pi-user" 
            styleClass="p-button-rounded p-button-info p-button-outlined"
        ></p-button>
    </div>

    <p-button
        *ngIf="!isLoggedIn"
        styleClass="p-button-text p-button-success"
        label="Login"
        icon="pi pi-sign-in"
        routerLink="/s/login"
    ></p-button>
</div>

<p-dialog [header]="selectedList.label" 
    *ngIf="selectedList"
    [(visible)]="visible" 
    [modal]="true" 
    [style]="{ 'min-width': '300px', 'width': '950px', 'margin-inline': '1em' }" 
    [draggable]="false"
    [resizable]="false">
    <div class="dialog__content">
        <div class="dialog__left">
            <h3 *ngFor="let toolkit of selectedList.value">
                <a
                    docs-list-item
                    class="docs-link"
                    dir="right"
                    [class.active]="selectedToolkitId == toolkit._id"
                    (click)="changeSelected(toolkit)"
                >{{ toolkit.name }}</a>
            </h3>
        </div>
        <div class="dialog__center">
            <h2 class="title">Popular Tutorials</h2>
            <strong>
                <a class="docs-link" 
                    *ngFor="let section of selectedTutorials; index as i"
                >{{ section.title }}</a>
            </strong>
            <a class="docs-link"
                [routerLink]="'/toolkits/' + selectedToolkitId"
            >View All...</a>
        </div>
        <div class="dialog__right">
            <h2 class="title">Reference Materials</h2>
            <!-- TODO loop -->
            <strong>
                <a class="docs-link" 
                    *ngFor="let section of selectedReferences; index as i"
                >{{ section.title }}</a>
            </strong>
            <a class="docs-link"
                [routerLink]="'/toolkits/' + selectedToolkitId"
            >View All...</a>
        </div>
    </div>
</p-dialog>

<p-sidebar [(visible)]="sidebarVisible">
    <ul class="docs-list">
        <li docs-list-item (click)="showDialog('lang'); sidebarVisible = false" class="docs-list__item">Languages</li>
        <li docs-list-item (click)="showDialog('lib'); sidebarVisible = false" class="docs-list__item">Libraries</li>
        <li docs-list-item (click)="showDialog('frame'); sidebarVisible = false" class="docs-list__item">Frameworks</li>
    </ul>
</p-sidebar>