<form (submit)="register()">
    <div class="form-input">
        <label htmlFor="name">Username</label>
        <input
            pInputText 
            id="name" 
            name="name"
            [required]="true"
            [(ngModel)]="user.name"
            type="email"
            [style]="{ width: '100%' }"
            aria-describedby="name-help" />
        <small id="name-help"></small>
    </div>

    <div class="form-input">
        <label htmlFor="email">Email</label>
        <input
            pInputText 
            id="email" 
            name="email"
            [required]="true"
            [(ngModel)]="user.email"
            [style]="{ width: '100%' }"
            aria-describedby="email-help" />
        <small id="email-help"></small>
    </div>

    <div class="form-input">
        <label htmlFor="password">Phone Number</label>
        <p-inputMask 
            mask="(999) 999-9999" 
            placeholder="(999) 999-9999"
            [(ngModel)]="user.phonenumber"
            id="phonenumber" 
            name="phonenumber"
            [required]="true"
            [style]="{ width: '100%' }"
            aria-describedby="phonenumber-help">
        </p-inputMask>
    </div>

    <div class="form-input">
        <label htmlFor="password">Password</label>
        <p-password #password
            id="password" 
            name="password" 
            [(ngModel)]="user.password"
            [required]="true"
            aria-describedby="password-help" 
            [toggleMask]="true"
        ></p-password>
        <small id="password-help"></small>
    </div>
    <small>
        Already have an account?
        <a routerLink="/s/login" class="docs-link">Login</a>
    </small>
    <p-button
        type="submit"
        label="Register"
        styleClass="p-button-success"
        [style]="{ width: '100%', 'margin-top': '1em' }"
        [loading]="loading"
    ></p-button>
</form>

<p-toast></p-toast>