<header class="home__header home__section">
    <div class="container">
        <h1 class="home__section__title">Learn and Use Any Technology with Ease</h1>
        <p>TechStack is a documentation website that provides you with tutorials and references for various languages, libraries and frameworks. Whether you want to learn a new skill, brush up on an old one, or find a quick solution to a problem, TechStack has you covered.</p>
    </div>
</header>

<section class="home__section home__toolkits">
    <div class="container">
        <div class="home__toolkits__desc">
            <h3 class="home__section__title">Select a Toolkit</h3>
            <p>Choose which one you want to start with.</p>
        </div>
        <div class="home__toolkits__items">
            <a routerLink="#" class="docs-link" docs-home-list-item>
                Javascript
            </a>
            <a routerLink="#" class="docs-link" docs-home-list-item>
                Asp.NET
            </a>
            <a routerLink="#" class="docs-link" docs-home-list-item>
                C++
            </a>
            <a routerLink="#" class="docs-link" docs-home-list-item>
                Angular
            </a>
            <a routerLink="#" class="docs-link" docs-home-list-item>
                Javascript
            </a>
            <a routerLink="#" class="docs-link" docs-home-list-item>
                Asp.NET
            </a>
            <a routerLink="#" class="docs-link" docs-home-list-item>
                C++
            </a>
            <a routerLink="#" class="docs-link" docs-home-list-item>
                Angular
            </a>
            <a routerLink="#" class="docs-link" docs-home-list-item>
                Javascript
            </a>
            <a routerLink="#" class="docs-link" docs-home-list-item>
                Asp.NET
            </a>
            <a routerLink="#" class="docs-link" docs-home-list-item>
                C++
            </a>
            <a routerLink="#" class="docs-link" docs-home-list-item>
                Angular
            </a>
        </div>
    </div>
</section>

<section class="home__section home__articles">
    <div class="container">
        <div>
            <h3 class="home__section__title">Read Our Popular Articles</h3>
        </div>
        <div class="home__articles__items">
            <a routerLink="#" class="docs-link" docs-home-list-item>
                <strong class="title">How to use @Input() in angular</strong>
                <p class="desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, magnam alias, sequi asperiores corrupti cum ad quas consequuntur adipisci placeat aperiam illo. Recusandae, temporibus iure enim tenetur, officia reiciendis quaerat illo earum modi aut aliquid! Odit corrupti quidem placeat perferendis consequatur dicta facilis modi est veritatis sint delectus officia libero ea numquam nihil fugit adipisci rerum, iure corporis molestiae? Aliquid reiciendis, quisquam nulla aliquam velit expedita minima vel ipsum omnis eum! Dolor necessitatibus illum consectetur! Consequuntur dolores eos cumque rerum odit officia quod facilis dolorem suscipit est inventore, sit tempora molestiae magni modi provident doloribus quos ullam atque, hic alias.</p>
            </a>
            <a routerLink="#" class="docs-link" docs-home-list-item>
                <strong class="title">How to use @Input() in angular</strong>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, mollitia?</p>
            </a>
            <a routerLink="#" class="docs-link" docs-home-list-item>
                <strong class="title">How to use @Input() in angular</strong>
                <p class="desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, magnam alias, sequi asperiores corrupti cum ad quas consequuntur adipisci placeat aperiam illo. Recusandae, temporibus iure enim tenetur, officia reiciendis quaerat illo earum modi aut aliquid! Odit corrupti quidem placeat perferendis consequatur dicta facilis modi est veritatis sint delectus officia libero ea numquam nihil fugit adipisci rerum, iure corporis molestiae? Aliquid reiciendis, quisquam nulla aliquam velit expedita minima vel ipsum omnis eum! Dolor necessitatibus illum consectetur! Consequuntur dolores eos cumque rerum odit officia quod facilis dolorem suscipit est inventore, sit tempora molestiae magni modi provident doloribus quos ullam atque, hic alias.</p>
            </a>
        </div>
    </div>
</section>

<section class="home__section home__questions">
    <div class="container">
        <div class="home__questions__items"> 
            ...
        </div>
        <div>
            <h3 class="home__section__title">Ask Questions</h3>
            <p>You can ask any question, and others can help you find the solution</p>
        </div>
    </div>
</section>

<section class="home__section home__features">
    <div class="container">
        <h3 class="home__section__title">TechStack Features</h3>
        <ul class="home__features__items docs-list">
            <li>
                <h4 class="title">Programming made fun</h4>
                <p class="desc">We make programming enjoyable and engaging. Programming tutorials and examples that are interactive, creative, and fun for learners of all levels.</p>
            </li>
            <li>
                <h4 class="title">Programming made accessible</h4>
                <p class="desc">We make programming available and affordable. Programming tutorials and examples that are free, open-source, and easy to access from any device or platform.</p>
            </li>
            <li>
                <h4 class="title">Programming made relevant</h4>
                <p class="desc">We make programming useful and applicable. Programming tutorials and examples that are up-to-date, practical, and relevant to the current and future needs of the industry.</p>
            </li>
        </ul>
    </div>
</section>