<div class="container" *ngIf="question">
    <div class="question__card question">
        <div class="question__votes">
            <p-button icon="pi pi-angle-up" 
                [disabled]="isOwner(question.user._id)"
                (onClick)="voteChange(question, true)"
                [styleClass]="'p-button-rounded p-button-primary' + (question.up ? '': ' p-button-outlined')"
            ></p-button>
            <strong>{{ getVotes(question) }}</strong>
            <p-button icon="pi pi-angle-down" 
                [disabled]="isOwner(question.user._id)"
                (onClick)="voteChange(question, false)"
                [styleClass]="'p-button-rounded p-button-danger' + (question.up === false ? '': ' p-button-outlined')"
            ></p-button>
        </div>
        <div class="question__content">
            <div class="question__header">
                <div>
                    <h3>Q: 
                        <span>{{ question.title }}</span>
                    </h3>
                    <small>Posted by {{ question.user.name }} at {{ question.createdAt | date:'dd/MM/yyyy' }} | {{ question.answers.length }} Answers</small>
                </div>
                <div *ngIf="isOwner(question.user._id)">
                    <p-button
                        (onClick)="startEditingQuestion(question)"
                        icon="pi pi-pencil"
                        styleClass="p-button-primary p-button-text"
                    ></p-button>
                    <p-button
                        (onClick)="deleteQuestion()"
                        icon="pi pi-trash"
                        styleClass="p-button-danger p-button-text"
                    ></p-button>
                </div>
            </div>
            <p-divider></p-divider>
            <p class="question__content__text editor-block" [innerHTML]="question.content"></p>
        </div>
    </div>

    <p-dataView [value]="question.answers" [sortField]="sortField" [sortOrder]="sortOrder" emptyMessage="No answers yet!">
        <ng-template pTemplate="header">
            <div class="p-dataview-header--flex">
                <h4>Answers ({{ question.answers.length }})</h4>
                <p-dropdown [disabled]="question.answers.length == 0" [options]="sortOptions" placeholder="Sort By Votes" (onChange)="onSortChange($event)"></p-dropdown>
            </div>
        </ng-template>
        <ng-template let-answer let-index="rowIndex" pTemplate="listItem">
            <div class="question__card" *ngIf="answer.user">
                <div class="question__votes">
                    <p-button icon="pi pi-angle-up" 
                        [disabled]="isOwner(answer.user._id)"
                        (onClick)="voteChange(answer, true)"
                        [styleClass]="'p-button-rounded p-button-primary' + (answer.up ? '': ' p-button-outlined')"
                    ></p-button>
                    <strong>{{ getVotes(answer) }}</strong>
                    <p-button icon="pi pi-angle-down" 
                        [disabled]="isOwner(answer.user._id)"
                        (onClick)="voteChange(answer, false)"
                        [styleClass]="'p-button-rounded p-button-danger' + (answer.up === false ? '': ' p-button-outlined')"
                    ></p-button>
                </div>
                <div class="question__content">
                    <div class="question__header">
                        <p>Answered by {{ answer.user.name}} at {{ question.createdAt | date:'dd/MM/yyyy' }}</p>
                        <div *ngIf="isOwner(answer.user._id)">
                            <p-button
                                (onClick)="startEditingAnswer(answer)"
                                icon="pi pi-pencil"
                                styleClass="p-button-primary p-button-text"
                            ></p-button>
                            <p-button
                                (onClick)="deleteAnswer(answer._id)"
                                icon="pi pi-trash"
                                styleClass="p-button-danger p-button-text"
                            ></p-button>
                        </div>
                    </div>
                    <p-divider></p-divider>
                    <p class="question__content__text editor-block" [innerHTML]="answer.content"></p>
                </div>
            </div>
        </ng-template>
    </p-dataView>

    <form class="question__card write" *ngIf="isLoggedIn" (submit)="sendAnswer()">
        <div class="question__content">
            <h3>Write your answer:</h3>
            <div class="question__editor">
                <p-editor [(ngModel)]="answer" name="editor" [style]="{ height: '320px' }"></p-editor>
            </div>
            <p-button
                type="submit"
                label="Submit"
                [loading]="loading"
                styleClass="p-button-success"
            ></p-button>
        </div>
    </form>
</div>

<p-confirmDialog #cd [style]="{ 'min-width': '50vw' }" key="question" *ngIf="editingQuestion">
    <ng-template pTemplate="header">
        <h3>Edit your question</h3>
    </ng-template>
    <ng-template pTemplate="message">
        <form class="question__edit-form">
            <input type="text" 
                placeholder="Write question title here..." 
                name="title" 
                [(ngModel)]="editingQuestion.title"
                pInputText />
            <p-editor 
                name="editor" 
                [(ngModel)]="editingQuestion.content"
                [style]="{ height: '320px' }">
                <ng-template pTemplate="header">
                    <docs-editor-controls></docs-editor-controls>
                </ng-template>
            </p-editor>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>

<p-confirmDialog #cd [style]="{ 'min-width': '50vw' }" key="answer" *ngIf="editingAnswer">
    <ng-template pTemplate="header">
        <h3>Edit your question</h3>
    </ng-template>
    <ng-template pTemplate="message">
        <form class="question__edit-form">
            <p-editor 
                name="editor" 
                [(ngModel)]="editingAnswer.content"
                [style]="{ height: '320px' }">
                <ng-template pTemplate="header">
                    <docs-editor-controls></docs-editor-controls>
                </ng-template>
            </p-editor>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>


<p-toast></p-toast>