<div class="container" *ngIf="question">
    <div class="question__header">
        <div class="question__header__top">
            <h2>{{ question.title }}</h2>
            <div *ngIf="question.isOwner">
                <p-button 
                    (click)="menu.toggle($event)" 
                    icon="pi pi-ellipsis-v"
                    styleClass="p-button-rounded p-button-text"
                ></p-button>
                <p-menu appendTo="body" #menu [model]="questionMenu" [popup]="true"></p-menu>
            </div>
        </div>
        <div class="question__header__info">
            <div>
                <strong class="label">Asked:</strong>
                <span class="value">{{ question.createdAt | dateFormat }}</span>
            </div>
            <div *ngIf="question.createdAt != question.lastModifyAt">
                <strong class="label">Last Update:</strong>
                <span class="value">{{ question.lastModifyAt | dateFormat }}</span>
            </div>
            <div>
                <strong class="label">Asked By:</strong>
                <span class="value">{{ question.user.name }}</span>
            </div>
            <div>
                <strong class="label">Views:</strong>
                <span class="value">{{ question.views }}</span>
            </div>
            <div>
                <strong class="label">State:</strong>
                <span [class]="'value' + (question.isOpen ? ' success' : ' danger')">
                    {{ question.isOpen ? 'Open' : 'Closed' }}
                </span>
            </div>
        </div>
    </div>
    <p-divider></p-divider>
    <div class="question__card question">
        <div class="question__votes">
            <p-button icon="pi pi-angle-up" 
                [disabled]="question.isOwner"
                (onClick)="voteChange(question, true)"
                [styleClass]="'p-button-rounded p-button-primary' + (question.up ? '': ' p-button-outlined')"
            ></p-button>
            <strong>{{ question.votesValue }}</strong>
            <p-button icon="pi pi-angle-down" 
                [disabled]="question.isOwner"
                (onClick)="voteChange(question, false)"
                [styleClass]="'p-button-rounded p-button-danger' + (question.up === false ? '': ' p-button-outlined')"
            ></p-button>
        </div>
        <div class="question__content">
            <p class="question__content__text editor-block" [innerHTML]="question.content"></p>
        </div>
    </div>

    <p-dataView [value]="question.answers" [sortField]="sortField" [sortOrder]="sortOrder" emptyMessage="No answers yet!">
        <ng-template pTemplate="header">
            <div class="p-dataview-header--flex">
                <h4>Answers ({{ question.answers.length }})</h4>
                <p-dropdown [disabled]="question.answers.length == 0" [options]="sortOptions" placeholder="Sort By Votes" (onChange)="onSortChange($event)"></p-dropdown>
            </div>
        </ng-template>
        <ng-template let-answer let-index="rowIndex" pTemplate="listItem">
            <div class="question__card" *ngIf="answer.user">
                <div class="question__votes">
                    <p-button icon="pi pi-angle-up" 
                        [disabled]="answer.isOwner"
                        (onClick)="voteChange(answer, true)"
                        [styleClass]="'p-button-rounded p-button-primary' + (answer.up ? '': ' p-button-outlined')"
                    ></p-button>
                    <strong>{{ answer.votesValue }}</strong>
                    <p-button icon="pi pi-angle-down" 
                        [disabled]="answer.isOwner"
                        (onClick)="voteChange(answer, false)"
                        [styleClass]="'p-button-rounded p-button-danger' + (answer.up === false ? '': ' p-button-outlined')"
                    ></p-button>
                </div>
                <div class="question__content">
                    <div class="question__header">
                        <div class="question__header__top">
                            <div class="question__header__info">
                                <div>
                                    <strong class="label">User:</strong>
                                    <span class="value">{{ answer.user.name }}</span>
                                </div>
                                <div>
                                    <strong class="label">Time:</strong>
                                    <span class="value">{{ answer.createdAt | dateFormat }}</span>
                                </div>
                                <div *ngIf="answer.createdAt != answer.lastModifyAt">
                                    <strong class="label">Last Update:</strong>
                                    <span class="value">{{ answer.lastModifyAt | dateFormat }}</span>
                                </div>
                                <div *ngIf="answer.isCorrect">
                                    <strong class="label">State:</strong>
                                    <span class="value success">Correct <span class="pi pi-check"></span></span>
                                </div>
                            </div>
                            <div *ngIf="question.isOwner || answer.isOwner">
                                <p-button 
                                    (click)="menu.toggle($event)" 
                                    icon="pi pi-ellipsis-v"
                                    styleClass="p-button-rounded p-button-text"
                                ></p-button>
                                <p-menu appendTo="body" #menu [model]="answer.menuItems" [popup]="true"></p-menu>
                            </div>
                        </div>
                    </div>
                    <p-divider></p-divider>
                    <p class="question__content__text editor-block" [innerHTML]="answer.content"></p>
                </div>
            </div>
        </ng-template>
    </p-dataView>

    <form class="question__card write" *ngIf="isLoggedIn" (submit)="sendAnswer(form)" #form="ngForm">
        <div class="question__content">
            <h3>Write your answer:</h3>
            <div class="question__editor">
                <p-editor [(ngModel)]="newAnswerContent" [required]="true" minlength="10" name="content" [style]="{ height: '320px' }">
                    <ng-template pTemplate="header">
                        <docs-editor-controls></docs-editor-controls>
                    </ng-template>
                </p-editor>
            </div>
            <p-button
                type="submit"
                label="Submit"
                [loading]="loading"
                styleClass="p-button-success"
            ></p-button>
        </div>
    </form>
</div>

<p-confirmDialog #questionEdit [style]="{ 'min-width': '50vw' }" key="question">
    <ng-template pTemplate="header">
        <h3>Edit your question</h3>
    </ng-template>
    <ng-template pTemplate="message">
        <form class="question__edit-form">
            <input type="text" 
                *ngIf="editingQuestion"
                placeholder="Write question title here..." 
                name="title" 
                [(ngModel)]="editingQuestion.title"
                pInputText />
            <p-editor 
                *ngIf="editingQuestion"
                name="editor" 
                [(ngModel)]="editingQuestion.content"
                [style]="{ height: '320px' }">
                <ng-template pTemplate="header">
                    <docs-editor-controls></docs-editor-controls>
                </ng-template>
            </p-editor>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="Cancel" (click)="questionEdit.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Save changes" (click)="questionEdit.accept()"></button>
    </ng-template>
</p-confirmDialog>

<p-confirmDialog #answerEdit [style]="{ 'min-width': '50vw' }" key="answer">
    <ng-template pTemplate="header">
        <h3>Edit your answer</h3>
    </ng-template>
    <ng-template pTemplate="message">
        <form class="question__edit-form">
            <p-editor 
                *ngIf="editingAnswer"
                name="editor" 
                [(ngModel)]="editingAnswer.content"
                [style]="{ height: '320px' }">
                <ng-template pTemplate="header">
                    <docs-editor-controls></docs-editor-controls>
                </ng-template>
            </p-editor>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="Cancel" (click)="answerEdit.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Save changes" (click)="answerEdit.accept()"></button>
    </ng-template>
</p-confirmDialog>


<p-toast></p-toast>