@use "../../utilities/mixin.scss";

:host {
    display: block;
    padding: 2em 0;

    .question {
        &__card {
            @include mixin.flex(stretch, flex-start);
            gap: 2em;
            padding: 1em;
            border: 1px solid var(--clr-border);

            &:not(:last-child) {
                border-bottom: 0;
            }

            &.question {
                margin-bottom: 1em;
                border: none;
                padding: 1em 0;
            }

            &.write {
                margin-top: 1em;

                .question__content {
                    @include mixin.flex(stretch, stretch, column);
                    gap: 1em;
                }
            }
        }

        &__header {
            margin-bottom: 1em;

            &__top {
                @include mixin.flex(space-between);
                gap: 1em;
            }

            &__info {
                font-size: .9rem;
                @include mixin.flex(flex-start);
                gap: 1.5em;
                margin-top: .5em;
            }

            .label {
                margin-inline-end: .5em;
            }

            .value {
                font-style: italic;

                &.success {
                    color: var(--green-400);
                }

                &.danger {
                    color: var(--red-400);
                }
            }
        }

        &__content {
            flex: 1;
            overflow: auto;
            
            &__text {
                overflow: auto;
            }
        }

        &__votes {
            @include mixin.flex(center, center, column);
            gap: .5em;
        }

        &__edit-form {
            @include mixin.flex(stretch, stretch, column);
            gap: 1em;
        }
    }
}