<form (submit)="change(password.value, newPassword.value)">
    <docs-card [flex]="true" title="Change Password">
        <div class="form-input">
            <label htmlFor="old-password">Old Password</label>
            <p-password
                #password
                id="old-password" 
                name="old-password" 
                aria-describedby="old-password-help" 
                [toggleMask]="true"
                [feedback]="false"
            ></p-password>
            <small id="old-password-help"></small>
        </div>

        <div class="form-input">
            <label htmlFor="new-password">New Password</label>
            <p-password
                #newPassword
                id="new-password" 
                name="new-password" 
                aria-describedby="new-password-help" 
                [toggleMask]="true"
            ></p-password>
            <small id="new-password-help"></small>
        </div>
        
        <p-button
            type="submit"
            label="Change"
            styleClass="p-button-success"
            [style]="{ width: '100%', 'margin-top': '1em' }"
            [loading]="loading"
        ></p-button>
    </docs-card>
</form>

<p-toast></p-toast>