@use "./app/utilities/mixin.scss";
@import "./app/utilities/primeNG.custom.scss";
@import "primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --ff-primary: 'Poppins', sans-serif;

    --white: #fff;
    --light-blue: #e0f0fc;
    --blue: 5, 86, 243;
    --alpha-blue: rgba(var(--blue), .2);
    --dark-blue: #03338f;
    --darker-blue: 37, 38, 95;
    --alpha-darker-blue: rgba(var(--darker-blue), 0.702);
    --light-gray: #d3dce6;
    --gray: #a8a8bf;

    --clr-border: var(--light-gray);
    --clr-border-active: rgb(var(--blue));
    --clr-rounded-border: rgb(var(--blue));
    --bg-primary: var(--white);

    --bs-primary: 0px 4px 12px rgba(37,38,94,.06);

    --bg-footer: #2b324d;
    --clr-footer: var(--white);
    --clr-footer-link: var(--light-gray);
    --clr-footer-link-hover: var(--white);

    --clr-link-hover: rgb(var(--blue));

    --clr-list-item-hover: rgb(var(--blue));
    --bg-list-item-hover: var(--alpha-blue);
    --clr-list-item: var(--gray);

    --bg-toolkit-header: var(--light-blue);
}

html {
    font-size: 14px; // For PrimeNG
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    font-size: 16px;
    color: rgb(var(--darker-blue));
}

.container {
    max-width: 1172px;
    margin-inline: auto;
    padding-inline: 1.5em;
}

.docs-link {
    text-decoration: none;
    color: inherit;
    transition: all .25s ease;
    cursor: pointer;

    &:hover,
    &.active {
        color: var(--clr-link-hover);
    }
}

.docs-list {
    list-style-type: none;

    &__item {
        cursor: pointer;
        transition: color .25s ease;

        &:hover {
            color: var(--clr-list-item-hover);
        }
    }
}

.docs-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.docs-with-border {
    $size: 3px;
    position: relative;
    display: inline-block;
    padding: .5em 1em;

    &::after {
        display: inline-block;
        background-color: var(--clr-rounded-border);
    }

    &.active {
        &::after {
            content: '';
        }
    }

    &.left {
        &::after {
            @include mixin.absolute(0, auto, 0, 0);
            border-radius: 0 7px 7px 0; 
            width: $size;
        }
    }

    &.right {
        &::after {
            @include mixin.absolute(0, 0, 0, auto);
            border-radius: 7px 0 0 7px;
            width: $size;
        }
    }

    &.bottom {
        &::after {
            @include mixin.absolute(auto, 0, 0, 0);
            border-radius: 7px 7px 0 0;
            height: $size;
        }
    }

    &.top {
        &::after {
            @include mixin.absolute(0, 0, auto, 0);
            border-radius: 0 0 7px 7px;
            height: $size;
        }
    }
}

h1, h2, h3, h4, h5, h6, strong { font-weight: 500 }
