<div class="container">
    <div class="footer__section">
        <h4 class="footer__section__title">Languages</h4>
        <a routerLink="#" class="docs-link">Python</a>
        <a routerLink="#" class="docs-link">Javascript</a>
        <a routerLink="#" class="docs-link">C#</a>
        <a routerLink="#" class="docs-link">C++</a>
        <a routerLink="#" class="docs-link">Java</a>
    </div>
    <div class="footer__section">
        <h4 class="footer__section__title">Libraries</h4>
        <a routerLink="#" class="docs-link">ReactJS</a>
    </div>
    <div class="footer__section">
        <h4 class="footer__section__title">Frameworks</h4>
        <a routerLink="#" class="docs-link">Asp.Net</a>
        <a routerLink="#" class="docs-link">Asp.Net Core</a>
        <a routerLink="#" class="docs-link">ExpressJS</a>
        <a routerLink="#" class="docs-link">NestJS</a>
    </div>
</div>